.vieri
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
}
#yksi{
  background-color: cyan;
}
#kaksi{
  background-color: green;
}
#kolme{
    background-color: pink;
}
#nelja{
    background-color: blue;
}
#viisi{
    background-color: lime;
}
